@import './Forms.scss';


* {transition: all .3s ease;}

a {text-decoration: none;}

.btn {
    display: flex;
    align-items: center;
    
    > ion-icon {
        margin-right: .6rem;
    }
}

input.form-control, select.form-control, textarea.form-control {
    &:focus-within,
    &:focus,
    & {
        outline: none;
        box-shadow: none;
    }
}

ion-icon {
    --ionicon-stroke-width: 50px;
    font-size: 1.2rem;
}